*{
margin:0;
Padding:0;
box-sizing:border-box ;
}

.home-service-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.custom-h3 {
    font-size: 20px;
    font-weight: bold;
}

.btn-primary{
  background-color: #9052ca;
  color: #FFFFFF;
  font-weight: 600;
  padding: 18px;
  width: 100%;
  font-size: 16px;
  border: none;
  gap:10px;
  margin-top: 19px;
  margin-bottom:19px;
  border-radius: 8px;
}
.btn-primary:hover {
    background-color: rgb(205, 62, 150);
    cursor: pointer;
}

.image-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x, y, blur, color */
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.image-shadow:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.delivery-img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.font{
    font-size: 30px;
}

.features-title{
    color: rgb(4, 102, 135);
}

.btn-primary2{
  background-color: #9052ca;
  color: #FFFFFF;
  font-weight: 600;
  padding: 18px;
  width: 25%;
  font-size: 16px;
  border: none;
  gap:10px;
  margin-top: 19px;
  margin-bottom:19px;
  border-radius: 10px;
}
.btn-primary2:hover {
    background-color: rgb(205, 62, 150);
    cursor: pointer;
}

.text-color{
    color: rgb(4, 102, 135);
}
.footer-container {
    background-color: #ffffff;
    transition: background-color 0.4s ease, color 0.3s ease;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-container:hover {
    background-color: #343a40; /* dark background on hover */
    color: #ffffff;            /* text color changes to white */
}



.bg-footer {
    background-color: #f8f9fa;
    color: #333;
    transition: all 0.3s ease;
    max-width: 1300px;
    margin: 0 auto;
}

.bg-footer:hover {
    background-color: #0064fb8e; /* blue background */
    color: #fff; /* white text */
    cursor: pointer;
    text-decoration: underline;
}